<%- include("./../partials/header.ejs") %>
<form action="/create-label" method="POST" enctype="multipart/form-data">
    <label for="contentType">Select Content Type:</label>
    <select name="contentType" id="contentType" required>
        <option value="text">Text</option>
        <option value="image">Image</option>
        <option value="audio">Audio</option>
    </select>

    <div id="textContentInput">
        <label for="textContent">Enter Text Content:</label>
        <textarea name="textContent" id="textContent"></textarea>
    </div>

    <div id="imageContentInput" style="display: none;">
        <label for="imageContent">Upload Image:</label>
        <input type="file" name="imageContent" id="imageContent" accept="image/*">
    </div>

    <div id="audioContentInput" style="display: none;">
        <label for="audioContent">Upload Audio:</label>
        <input type="file" name="audioContent" id="audioContent" accept="audio/*">
    </div>

    <div id="labelDesigns">
        <label for="labelDesign">Choose Label Design:</label>
        <div class="label-option">
            <input type="radio" id="label1" name="labelDesign" value="label1" required>
            <label for="label1">
                <img src="/background-images/label-image-black.png" alt="Label Design 1" width="100" height="100">
            </label>
        </div>
        <div class="label-option">
            <input type="radio" id="label2" name="labelDesign" value="label2" required>
            <label for="label2">
                <img src="/background-images/label-image-yellow.png" alt="Label Design 2" width="100" height="100">
            </label>
        </div>
        <div class="label-option">
            <input type="radio" id="label3" name="labelDesign" value="label3" required>
            <label for="label3">
                <img src="/background-images/label-image-gray.png" alt="Label Design 3" width="100" height="100">
            </label>
        </div>
    </div>

    <div class="toggle-container">
        <label class="toggle-switch">
            <input type="checkbox" name="isLabelPrivate" id="userOption" value="on">
            <span class="slider"></span>
        </label>
        <span class="toggle-label">No</span>
    </div>
    

    <button type="submit">Create Label</button>
</form>

<script>
    const contentTypeSelect = document.getElementById("contentType");
    const textContentInput = document.getElementById("textContentInput");
    const imageContentInput = document.getElementById("imageContentInput");
    const audioContentInput = document.getElementById("audioContentInput");

    contentTypeSelect.addEventListener("change", function() {
        if (this.value === "text") {
            textContentInput.style.display = "block";
            imageContentInput.style.display = "none";
            audioContentInput.style.display = "none";
        } else if (this.value === "image") {
            textContentInput.style.display = "none";
            imageContentInput.style.display = "block";
            audioContentInput.style.display = "none";
        } else if (this.value === "audio") {
            textContentInput.style.display = "none";
            imageContentInput.style.display = "none";
            audioContentInput.style.display = "block";
        }
    });
</script>
<%- include("./../partials/footer.ejs") %>
