<%- include("./../partials/header.ejs") %>
<form action="/create-label" method="POST" enctype="multipart/form-data">
    <label for="contentType">Select Content Type:</label>
    <select name="contentType" id="contentType" required>
        <option value="text">Text</option>
        <option value="image">Image</option>
        <option value="audio">Audio</option>
        
    </select>

    <div id="textContentInput">
        <label for="textContent">Enter Text Content:</label>
        <textarea name="textContent" id="textContent"></textarea>
    </div>

    <div id="imageContentInput" style="display: none;">
        <label for="imageContent">Upload Image:</label>
        <input type="file" name="imageContent" id="imageContent" accept="image/*">
    </div>

    <div id="audioContentInput" style="display: none;">
        <label for="audioContent">Upload Audio:</label>
        <input type="file" name="audioContent" id="audioContent" accept="audio/*">
    </div>

    <button type="submit">Create Label</button>
</form>

<script>
    const contentTypeSelect = document.getElementById("contentType");
    const textContentInput = document.getElementById("textContentInput");
    const imageContentInput = document.getElementById("imageContentInput");
    const audioContentInput = document.getElementById("audioContentInput");

    contentTypeSelect.addEventListener("change", function() {
        if (this.value === "text") {
            textContentInput.style.display = "block";
            imageContentInput.style.display = "none";
            audioContentInput.style.display = "none";
        } else if (this.value === "image") {
            textContentInput.style.display = "none";
            imageContentInput.style.display = "block";
            audioContentInput.style.display = "none";
        }
        else if (this.value === "audio") {
            textContentInput.style.display = "none";
            imageContentInput.style.display = "none";
            audioContentInput.style.display = "block";
        }
    });
</script>
<%- include("./../partials/footer.ejs") %>