<%- include("./../partials/header.ejs", { showNavbar: false }) %>


<main id="delete-request-success" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh; width: 100vw; margin: 0;">
    <h1><%= title %></h1>
    <p><%= message %></p>
</main>


<%- include("./../partials/footer.ejs") %>