<!-- <body>
<main id="home">
    <h1>Welcome, <%= email %>!</h1>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
</main>
</body> -->
<body>
    <main id="home" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
        <h1>Welcome, <%= email %>!</h1>

        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </main>
</body>
