<%- include("./../partials/header.ejs") %>

<body>
    <main id="home" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
        <h1>Welcome, <%= email %>!</h1>

        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>

        <form action="/home" method="POST">
            <button type="submit">Create label</button>
        </form>
        <% if (imageUrl) { %>
            <h2>Your Image:</h2>
            <img src="<%= imageUrl %>" alt="Label Image">
        <% } %>
    </main>
</body>
<%- include("./../partials/footer.ejs") %>