<%- include("./../partials/header.ejs") %>

<body>
    <main id="home" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
        <h1>Welcome, <%= email %>!</h1>

        <div class="gallery">
            <% images.forEach(image => { %>
                <div class="image-item">
                    <img src="/images/<%= image %>" alt="QR Code Image">
                </div>
            <% }) %>
        </div>


        <style>
            .gallery {
                display: flex;
                flex-wrap: wrap; 
                gap: 10px; 
            }
        
            .image-item {
                flex: 0 1 auto; 
            }
        
            .image-item img {
                display: block;
            }
        </style>
        
        </main>
</body>
<%- include("./../partials/footer.ejs") %>