<%- include("./../partials/header.ejs") %>

<body>
    <main id="home" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh;">
        <h1>Welcome, <%= email %>!</h1>

   
        
        </main>
</body>
<%- include("./../partials/footer.ejs") %>