<%- include("./../partials/header.ejs") %>
<body>
    <p>We've sent a 6-digit code to your email. Please enter it below to continue:</p>
    <form action="/verification-code-label" method="POST">
        <input type="hidden" name="labelId" value="<%= labelId %>">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="text" name="verificationCode" placeholder="Enter 6-digit code" required>
        <button type="submit">Verify</button>
    </form>
</body>
<%- include("./../partials/footer.ejs") %>
